<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vehicle.mapper.ChartDataMapper">
    <resultMap type="com.ruoyi.vehicle.domain.vo.ChartDataXmlTotalVo" id="ChartDataXmlTotalVo">
        <result property="year" column="file_id"/>
        <result property="month" column="version"/>
        <result property="total" column="total"/>
        <result property="submitNumber" column="submit_number"/>
        <result property="passNumber" column="pass_number"/>
    </resultMap>

    <select id="selectXmlTotal" resultMap="ChartDataXmlTotalVo">
        SELECT
            YEAR(create_time)                                           AS year,
            MONTH(create_time)                                          AS month,
            COUNT(CASE WHEN upload_result IN ('1', '3') THEN 1 END)     AS total,
            SUM(CASE WHEN upload_result = '1' THEN 1 ELSE 0 END)        AS submit_number,
            SUM(CASE WHEN upload_result = '3' THEN 1 ELSE 0 END)        AS pass_number
        FROM xml_file
        WHERE
            deleted = 0 AND create_time >= DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 MONTH), '%Y-%m-01')
        GROUP BY
            YEAR(create_time),
            MONTH(create_time)
        ORDER BY
            year ASC,
            month ASC
    </select>

    <select id="selectXmlValidateTotal" resultMap="ChartDataXmlTotalVo">
        SELECT
            YEAR(xf.create_time)  AS year,
            MONTH(xf.create_time) AS month,
            COUNT(CASE WHEN upload_result IN (1, 2) THEN 1 END)     AS total,
            SUM(CASE WHEN xf.validate_result = 1 THEN 1 ELSE 0 END) AS validate_pass_count,
            SUM(CASE WHEN xf.validate_result = 2 THEN 1 ELSE 0 END) AS validate_fail_count
        FROM xml_file xf
            INNER JOIN (
            SELECT
            SUBSTRING_INDEX(SUBSTRING_INDEX(file_name, '_', 2), '_', -1) AS vin,
            MAX(id) AS max_id
            FROM xml_file
            WHERE deleted = 0
            GROUP BY SUBSTRING_INDEX(SUBSTRING_INDEX(file_name, '_', 2), '_', -1)
            ) latest ON xf.id = latest.max_id
        WHERE
            xf.deleted = 0
          AND xf.create_time >= DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 6 MONTH), '%Y-%m-01')
        GROUP BY
            YEAR(xf.create_time),
            MONTH(xf.create_time)
        ORDER BY
            year ASC,
            month ASC;
    </select>
</mapper>