<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vehicle.mapper.MaterialMapper">

    <resultMap type="Material" id="MaterialResult">
        <id     property="id"               column="id"                />
        <result property="name"             column="name"              />
        <result property="materialNo"       column="material_no"       />
        <result property="tvv"              column="tvv"               />
        <result property="country"          column="country"           />
        <result property="tire"             column="tire"              />
        <result property="weight"           column="weight"            />
        <result property="brand"            column="brand"             />
        <result property="saleName"         column="sale_name"         />
        <result property="createTime"       column="create_time"       />
        <result property="createBy"         column="create_by"         />
        <result property="updateTime"       column="update_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="version"          column="version"           />
        <result property="isLast"           column="is_last"           />
        <result property="remark"           column="remark"            />
        <result property="lastVersion"      column="last_version"      />
        <result property="vehicleTemplateId" column="vehicle_template_id"/>
        <result property="effectiveDate"       column="effective_date"       />
        <result property="tireResistanceGrade" column="tire_resistance_grade" />
        <result property="factoryCode"         column="factory_code"          />
    </resultMap>

    <sql id="selectMaterialVo">
        SELECT m.id, m.name, m.material_no, m.tvv, m.country, m.tire, m.weight, m.brand, m.sale_name,
               m.create_time, m.create_by, m.update_time, m.update_by, m.remark, m.vehicle_template_id,
               m.tire_resistance_grade, m.factory_code, vt.version, vt.is_last
        FROM material m
        LEFT JOIN vehicle_template vt ON vt.template_id = m.vehicle_template_id
    </sql>

    <select id="selectMaterialList" parameterType="Material" resultMap="MaterialResult">
        SELECT m.id, m.name, m.material_no, m.tvv, m.country, m.tire, m.weight, m.brand, m.sale_name,
        m.create_time, m.create_by, m.update_time, m.update_by, vt.remark, m.vehicle_template_id,
        m.tire_resistance_grade, m.factory_code,
        ANY_VALUE(vt.version) AS version,
        ANY_VALUE(vt.is_last) AS is_last,
        ANY_VALUE(vt.effective_date) AS effective_date,
        (
            SELECT max_vt.version
            FROM vehicle_template max_vt
            WHERE max_vt.uuid = ANY_VALUE(vt.uuid)
            AND max_vt.is_last = 1
        ) AS last_version
        FROM material m
        LEFT JOIN vehicle_template vt ON vt.template_id = m.vehicle_template_id
        <where>
            vt.version IS NOT NULL
            <if test="name != null and name != ''">
                AND m.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="materialNo != null and materialNo != ''">
                AND m.material_no LIKE CONCAT('%', #{materialNo}, '%')
            </if>
            <if test="tvv != null and tvv != ''">
                AND m.tvv LIKE CONCAT('%', #{tvv}, '%')
            </if>
            <if test="country != null and country != ''">
                AND m.country = #{country}
            </if>
            <if test="vehicleType != null and  vehicleType != ''">
                and vt.vehicle_type = #{vehicleType}
            </if>
            <if test="factoryCode != null and factoryCode != ''">
                and m.factory_code = #{factoryCode}
            </if>
            <if test="cocTemplateNo != null and cocTemplateNo != ''">
                AND vt.coc_template_no LIKE CONCAT('%', #{cocTemplateNo}, '%')
            </if>
            <if test="wvtaCocNo != null and wvtaCocNo != ''">
                AND vt.wvta_coc_no LIKE CONCAT('%', #{wvtaCocNo}, '%')
            </if>
            <if test="version != null and version != ''" >
                and vt.version = #{version}
            </if>
            <if test="generateAffirm != null">
                and vt.generate_affirm = #{generateAffirm}
            </if>
            <if test="uploadAffirm != null">
                and vt.upload_affirm = #{uploadAffirm}
            </if>
            <if test="isLast != null and isLast != ''">
                AND vt.is_last = #{isLast}
            </if>
        </where>
        GROUP BY m.id
        ORDER BY m.id DESC
    </select>

    <select id="selectMaterialById" parameterType="Long" resultMap="MaterialResult">
        <include refid="selectMaterialVo"/>
        WHERE m.id = #{id} AND vt.version IS NOT NULL
        ORDER BY vt.is_last DESC, vt.create_time DESC
        LIMIT 1
    </select>

    <insert id="insertMaterial" parameterType="Material" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="materialNo != null and materialNo != ''">material_no,</if>
            <if test="tvv != null and tvv != ''">tvv,</if>
            <if test="country != null and country != ''">country,</if>
            <if test="tire != null and tire != ''">tire,</if>
            <if test="weight != null and weight != ''">weight,</if>
            <if test="brand != null and brand != ''">brand,</if>
            <if test="saleName != null and saleName != ''">sale_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="vehicleTemplateId != null">vehicle_template_id,</if>
            <if test="tireResistanceGrade != null and tireResistanceGrade != ''">tire_resistance_grade,</if>
            <if test="factoryCode != null and factoryCode != ''">factory_code,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="materialNo != null and materialNo != ''">#{materialNo},</if>
            <if test="tvv != null and tvv != ''">#{tvv},</if>
            <if test="country != null and country != ''">#{country},</if>
            <if test="tire != null and tire != ''">#{tire},</if>
            <if test="weight != null and weight != ''">#{weight},</if>
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="saleName != null and saleName != ''">#{saleName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="vehicleTemplateId != null">#{vehicleTemplateId},</if>
            <if test="tireResistanceGrade != null and tireResistanceGrade != ''">#{tireResistanceGrade},</if>
            <if test="factoryCode != null and factoryCode != ''">#{factoryCode},</if>
        </trim>
    </insert>

    <update id="updateMaterial" parameterType="Material">
        UPDATE material
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="materialNo != null and materialNo != ''">material_no = #{materialNo},</if>
            <if test="tvv != null and tvv != ''">tvv = #{tvv},</if>
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="tire != null and tire != ''">tire = #{tire},</if>
            <if test="weight != null and weight != ''">weight = #{weight},</if>
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="saleName != null and saleName != ''">sale_name = #{saleName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="vehicleTemplateId != null">vehicle_template_id = #{vehicleTemplateId},</if>
            <if test="tireResistanceGrade != null and tireResistanceGrade != ''">tire_resistance_grade = #{tireResistanceGrade},</if>
            <if test="factoryCode != null and factoryCode != ''">factory_code = #{factoryCode},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteMaterialByIds" parameterType="Long">
        DELETE FROM material WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByMaterialNo" resultMap="MaterialResult">
        SELECT *
        FROM material
        WHERE material_no = #{materialNo}
            LIMIT 1
    </select>
</mapper>