<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vehicle.mapper.VehicleInfoMapper">

	<resultMap type="VehicleInfo" id="VehicleInfoResult">
		<result property="vehicleId"       column="vehicle_id"       />
		<result property="vin"             column="vin"              />
		<result property="model"           column="model"            />
		<result property="engineNo"        column="engine_no"        />
		<result property="exteriorColor"   column="exterior_color"   />
		<result property="productionDate"  column="production_date"  />
		<result property="importSource"    column="import_source"    />
		<result property="status"          column="status"           />
		<result property="createBy"        column="create_by"        />
		<result property="createTime"      column="create_time"      />
		<result property="updateBy"        column="update_by"        />
		<result property="updateTime"      column="update_time"      />
		<result property="remark"          column="remark"           />
		<result property="deleted"         column="deleted"          />
	</resultMap>

	<sql id="selectVehicleInfoVo">
		select vehicle_id, vin, model, engine_no, exterior_color, production_date,
			   import_source, status, create_by, create_time, update_by, update_time, remark
		from vehicle_info
	</sql>

	<select id="selectVehicleInfoById" parameterType="Long" resultMap="VehicleInfoResult">
		<include refid="selectVehicleInfoVo"/>
		where vehicle_id = #{vehicleId}
	</select>

	<select id="selectVehicleInfoByVin" parameterType="Long" resultMap="VehicleInfoResult">
		<include refid="selectVehicleInfoVo"/>
		where vin = #{vin}
	</select>

	<select id="selectVehicleInfoList" parameterType="VehicleInfo" resultMap="VehicleInfoResult">
		<include refid="selectVehicleInfoVo"/>
		<where>
			1 = 1
			<if test="vehicleIds != null and vehicleIds.size() > 0">
				AND vehicle_id IN
				<foreach collection="vehicleIds" item="vehicleId" open="(" separator="," close=")">
					#{vehicleId}
				</foreach>
			</if>
			<if test="vin != null and vin != ''">
				AND vin like concat('%', #{vin}, '%')
			</if>
			<if test="model != null and model != ''">
				AND model like concat('%', #{model}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="importSource != null and importSource != ''">
				AND import_source = #{importSource}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''">
				AND date_format(production_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''">
				AND date_format(production_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
			<if test="reclaim">
				AND deleted = 2
			</if>
			<if test="!reclaim">
				AND deleted = 0
			</if>
		</where>
		order by update_time desc
	</select>

	<insert id="insertVehicleInfo" parameterType="VehicleInfo" useGeneratedKeys="true" keyProperty="vehicleId">
		insert into vehicle_info (
		<if test="vin != null and vin != ''">vin, </if>
		<if test="model != null and model != ''">model, </if>
		<if test="engineNo != null and engineNo != ''">engine_no, </if>
		<if test="exteriorColor != null and exteriorColor != ''">exterior_color, </if>
		<if test="productionDate != null">production_date, </if>
		<if test="importSource != null and importSource != ''">import_source, </if>
		<if test="status != null and status != ''">status, </if>
		<if test="remark != null and remark != ''">remark, </if>
		<if test="createBy != null and createBy != ''">create_by, </if>
		create_time
		) values (
		<if test="vin != null and vin != ''">#{vin}, </if>
		<if test="model != null and model != ''">#{model}, </if>
		<if test="engineNo != null and engineNo != ''">#{engineNo}, </if>
		<if test="exteriorColor != null and exteriorColor != ''">#{exteriorColor}, </if>
		<if test="productionDate != null">#{productionDate}, </if>
		<if test="importSource != null and importSource != ''">#{importSource}, </if>
		<if test="status != null and status != ''">#{status}, </if>
		<if test="remark != null and remark != ''">#{remark}, </if>
		<if test="createBy != null and createBy != ''">#{createBy}, </if>
		sysdate()
		)
	</insert>

	<update id="updateVehicleInfo" parameterType="VehicleInfo">
		update vehicle_info
		<set>
			<if test="vin != null and vin != ''">vin = #{vin}, </if>
			<if test="model != null and model != ''">model = #{model}, </if>
			<if test="engineNo != null and engineNo != ''">engine_no = #{engineNo}, </if>
			<if test="exteriorColor != null and exteriorColor != ''">exterior_color = #{exteriorColor}, </if>
			<if test="productionDate != null">production_date = #{productionDate}, </if>
			<if test="importSource != null and importSource != ''">import_source = #{importSource}, </if>
			<if test="status != null and status != ''">status = #{status}, </if>
			<if test="remark != null">remark = #{remark}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
			update_time = sysdate()
		</set>
		where vehicle_id = #{vehicleId}
	</update>

	<update id="deleteVehicleInfoByIds" parameterType="String">
		update vehicle_info set deleted = 2 where vehicle_id in
		<foreach item="vehicleId" collection="array" open="(" separator="," close=")">
			#{vehicleId}
		</foreach>
	</update>

	<update id="restoreVehicleInfoByIds" parameterType="String">
		update vehicle_info set deleted = 0 where vehicle_id in
		<foreach item="vehicleId" collection="array" open="(" separator="," close=")">
			#{vehicleId}
		</foreach>
	</update>

	<delete id="permanentlyDeleteVehicleInfoByIds" parameterType="Long">
		delete from vehicle_info where deleted = 2 and vehicle_id in
		<foreach item="vehicleId" collection="array" open="(" separator="," close=")">
			#{vehicleId}
		</foreach>
	</delete>

	<delete id="permanentlyDeleteVehicleInfoById" parameterType="Long">
		delete from vehicle_info where deleted = 2 and vehicle_id = #{vehicleId}
	</delete>

	<delete id="deleteExpiredVehicleInfo">
		delete from vehicle_info
		where deleted = 2
		  and update_time &lt; date_sub(now(), interval 1 month)
	</delete>
</mapper>