<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vehicle.mapper.VehicleInfoMapper">

	<resultMap type="VehicleInfo" id="VehicleInfoResult">
		<result property="vehicleId"          column="vehicle_id"          />
		<result property="uploadStatus"        column="upload_status"        />
		<result property="country"             column="country"              />
		<result property="color"               column="color"                />
		<result property="certificateVersion"  column="certificate_version"  />
		<result property="wvtaNo"              column="wvta_no"              />
		<result property="issueDate"           column="issue_date"           />
		<result property="json"                column="json"                 />
		<result property="xmlTemplateId"       column="xml_template_id"/>
		<result property="createBy"            column="create_by"            />
		<result property="createTime"          column="create_time"          />
		<result property="updateBy"            column="update_by"            />
		<result property="updateTime"          column="update_time"          />
		<result property="remark"              column="remark"               />
		<result property="deleted"             column="deleted"              />
	</resultMap>

	<sql id="selectVehicleInfoVo">
		select vehicle_id, upload_status, country, color, certificate_version,
			   wvta_no, issue_date, json, xml_template_id, create_by, create_time,
			   update_by, update_time, remark, deleted
		from vehicle_info
	</sql>

	<select id="selectVehicleInfoById" parameterType="Long" resultMap="VehicleInfoResult">
		<include refid="selectVehicleInfoVo"/>
		where vehicle_id = #{vehicleId}
	</select>

	<select id="selectVehicleInfoList" parameterType="VehicleInfo" resultMap="VehicleInfoResult">
		<include refid="selectVehicleInfoVo"/>
		<where>
			<if test="uploadStatus != null">
				AND upload_status = #{uploadStatus}
			</if>
			<if test="country != null and country != ''">
				AND country like concat('%', #{country}, '%')
			</if>
			<if test="color != null and color != ''">
				AND color like concat('%', #{color}, '%')
			</if>
			<if test="certificateVersion != null and certificateVersion != ''">
				AND certificate_version = #{certificateVersion}
			</if>
			<if test="wvtaNo != null and wvtaNo != ''">
				AND wvta_no like concat('%', #{wvtaNo}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''">
				AND date_format(issue_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''">
				AND date_format(issue_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
			<if test="reclaim">
				AND deleted = 2
			</if>
			<if test="!reclaim">
				AND deleted = 0
			</if>
		</where>
		order by update_time desc
	</select>

	<insert id="insertVehicleInfo" parameterType="VehicleInfo" useGeneratedKeys="true" keyProperty="vehicleId">
		insert into vehicle_info (
		<if test="uploadStatus != null">upload_status, </if>
		<if test="country != null and country != ''">country, </if>
		<if test="color != null and color != ''">color, </if>
		<if test="certificateVersion != null and certificateVersion != ''">certificate_version, </if>
		<if test="wvtaNo != null and wvtaNo != ''">wvta_no, </if>
		<if test="issueDate != null">issue_date, </if>
		<if test="json != null and json != ''">json, </if>
	    <if test="xmlTemplateId != null">xml_template_id,</if>
		<if test="remark != null and remark != ''">remark, </if>
		<if test="createBy != null and createBy != ''">create_by, </if>
		create_time
		) values (
		<if test="uploadStatus != null">#{uploadStatus}, </if>
		<if test="country != null and country != ''">#{country}, </if>
		<if test="color != null and color != ''">#{color}, </if>
		<if test="certificateVersion != null and certificateVersion != ''">#{certificateVersion}, </if>
		<if test="wvtaNo != null and wvtaNo != ''">#{wvtaNo}, </if>
		<if test="issueDate != null">#{issueDate}, </if>
		<if test="json != null and json != ''">#{json}, </if>
		<if test="xmlTemplateId != null">#{xmlTemplateId},</if>
		<if test="remark != null and remark != ''">#{remark}, </if>
		<if test="createBy != null and createBy != ''">#{createBy}, </if>
		sysdate()
		)
	</insert>

	<update id="updateVehicleInfo" parameterType="VehicleInfo">
		update vehicle_info
		<set>
			<if test="uploadStatus != null">upload_status = #{uploadStatus}, </if>
			<if test="country != null and country != ''">country = #{country}, </if>
			<if test="color != null and color != ''">color = #{color}, </if>
			<if test="certificateVersion != null and certificateVersion != ''">certificate_version = #{certificateVersion}, </if>
			<if test="wvtaNo != null and wvtaNo != ''">wvta_no = #{wvtaNo}, </if>
			<if test="issueDate != null">issue_date = #{issueDate}, </if>
			<if test="json != null">json = #{json}, </if>
			<if test="xmlTemplateId != null">xml_template_id = #{xmlTemplateId},</if>
			<if test="remark != null">remark = #{remark}, </if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy}, </if>
			update_time = sysdate()
		</set>
		where vehicle_id = #{vehicleId}
	</update>

	<update id="deleteVehicleInfoByIds" parameterType="String">
		update vehicle_info set deleted = 2 where vehicle_id in
		<foreach item="vehicleId" collection="array" open="(" separator="," close=")">
			#{vehicleId}
		</foreach>
	</update>

	<update id="restoreVehicleInfoByIds" parameterType="String">
		update vehicle_info set deleted = 0 where vehicle_id in
		<foreach item="vehicleId" collection="array" open="(" separator="," close=")">
			#{vehicleId}
		</foreach>
	</update>

	<delete id="permanentlyDeleteVehicleInfoByIds" parameterType="Long">
		delete from vehicle_info where deleted = 2 and vehicle_id in
		<foreach item="vehicleId" collection="array" open="(" separator="," close=")">
			#{vehicleId}
		</foreach>
	</delete>

	<delete id="permanentlyDeleteVehicleInfoById" parameterType="Long">
		delete from vehicle_info where deleted = 2 and vehicle_id = #{vehicleId}
	</delete>

	<delete id="deleteExpiredVehicleInfo">
		delete from vehicle_info
		where deleted = 2
		  and update_time &lt; date_sub(now(), interval 1 month)
	</delete>

	<select id="selectVehicleInfoByWvtaNo" parameterType="String" resultMap="VehicleInfoResult">
		<include refid="selectVehicleInfoVo"/>
		where wvta_no = #{wvtaNo}
		and deleted = 0
	</select>

</mapper>