<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.vehicle.mapper.XmlFileMapper">

    <resultMap type="XmlFile" id="XmlFileResult">
        <id property="id" column="id"/>
        <result property="vin" column="vin"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileLevel" column="file_level"/>
        <result property="version" column="version"/>
        <result property="isLatest" column="is_latest"/>
        <result property="pdfPath" column="pdf_path"/>
        <result property="status" column="status"/>
        <result property="deleted" column="deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="xmlTemplateId" column="xml_template_id"/>
        <result property="xmlTemplateName" column="xml_template_name"/>
        <result property="modelCode" column="model_code"/>
        <result property="modelName" column="model_name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="vehicleMaterialNo" column="vehicle_material_no"/>
        <result property="country" column="country"/>
        <result property="uploadResult" column="upload_result"/>
        <result property="uploadDate" column="upload_date"/>
        <result property="issueDate" column="issue_date"/>
        <result property="validateResult" column="validate_result"/>
        <result property="validationReportJson" column="validation_report_json"/>
    </resultMap>

    <sql id="selectXmlFileVo">
        select xl.id, SUBSTRING_INDEX(SUBSTRING_INDEX(xl.file_path, '_', 2), '_', -1) AS vin,
               xl.file_name, xl.file_path, xl.file_size, xl.file_level, xl.version, xl.is_latest,
               xl.pdf_path, xl.status, xl.deleted, xl.create_by, xl.create_time, xl.update_by,
               xl.update_time, xl.remark, xl.xml_template_id, xl.model_code, xl.factory_code,
               xl.vehicle_material_no, xl.country, xl.upload_result, xl.upload_date, xl.issue_date,
               xl.validate_result,xt.template_name xml_template_name, xl.validation_report_json,
               sdd.dict_label model_name
        from xml_file xl
        left join xml_template xt on xl.xml_template_id = xt.template_id
        left join sys_dict_data sdd on sdd.dict_value = xl.model_code
    </sql>

    <select id="selectXmlFileList" parameterType="XmlFile" resultMap="XmlFileResult">
        <include refid="selectXmlFileVo"/>
        <where>
            1 = 1
            <if test="ids != null and ids.size() > 0">
                and xl.id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="vin != null and vin != ''">
                AND xl.vin IN
                <foreach collection="vin.split(',')" item="vinItem" open="(" separator="," close=")">
                    #{vinItem}
                </foreach>
            </if>
            <if test="fileName != null and fileName != ''">
                AND xl.file_name like concat('%', #{fileName}, '%')
            </if>
            <if test="fileLevel != null and fileLevel != ''">
                AND xl.file_level = #{fileLevel}
            </if>
            <if test="version != null and version != ''">
                AND xl.version = #{version}
            </if>
            <if test="status != null and status != ''">
                AND xl.status = #{status}
            </if>
            <if test="modelCode != null and modelCode != ''">
                AND xl.model_code IN
                <foreach collection="modelCode.split(',')" item="codeItem" open="(" separator="," close=")">
                    #{codeItem}
                </foreach>
            </if>
            <if test="factoryCode != null and factoryCode != ''">
                AND xl.factory_code = #{factoryCode}
            </if>
            <if test="vehicleMaterialNo != null and vehicleMaterialNo != ''">
                AND xl.vehicle_material_no = #{vehicleMaterialNo}
            </if>
            <if test="country != null and country != ''">
                AND FIND_IN_SET(#{country}, xl.country)
            </if>
            <if test="uploadResult != null and uploadResult != ''">
                AND xl.upload_result = #{uploadResult}
            </if>
            <if test="uploadDateBeginTime != null">
                AND date_format(upload_date,'%y%m%d') &gt;= date_format(#{uploadDateBeginTime},'%y%m%d')
            </if>
            <if test="uploadDateEndTime != null">
                AND date_format(upload_date,'%y%m%d') &lt;= date_format(#{uploadDateEndTime},'%y%m%d')
            </if>
            <if test="issueDateBeginTime != null">
                AND date_format(issue_date,'%y%m%d') &gt;= date_format(#{issueDateBeginTime},'%y%m%d')
            </if>
            <if test="issueDateEndTime != null">
                AND date_format(issue_date,'%y%m%d') &lt;= date_format(#{issueDateEndTime},'%y%m%d')
            </if>
            <if test="createdStartTime != null">
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{createdStartTime},'%y%m%d')
            </if>
            <if test="createdEndTime != null">
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{createdEndTime},'%y%m%d')
            </if>
            <if test="validateResult != null">
                AND xl.validate_result = #{validateResult}
            </if>
            <if test="reclaim">
                AND xl.deleted = 2
            </if>
            <if test="!reclaim">
                AND xl.deleted = 0
            </if>
        </where>
        order by xl.create_time desc
    </select>

    <select id="selectXmlFileById" parameterType="Long" resultMap="XmlFileResult">
        <include refid="selectXmlFileVo"/>
        where xl.id = #{id}
    </select>

    <select id="selectFilePathsByIds" resultType="string" parameterType="long[]">
        SELECT file_path FROM xml_file WHERE id IN
        <foreach item="xmlId" collection="array" open="(" separator="," close=")">
            #{xmlId}
        </foreach>
    </select>

    <insert id="insertXmlFile" parameterType="XmlFile" useGeneratedKeys="true" keyProperty="id">
        insert into xml_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="fileLevel != null">file_level,</if>
            <if test="version != null">version,</if>
            <if test="isLatest != null">is_latest,</if>
            <if test="pdfPath != null">pdf_path,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            <if test="modelCode != null">model_code,</if>
            <if test="factoryCode != null">factory_code,</if>
            <if test="vehicleMaterialNo != null">vehicle_material_no,</if>
            <if test="country != null">country,</if>
            <if test="uploadResult != null">upload_result,</if>
            <if test="uploadDate != null">upload_date,</if>
            <if test="issueDate != null">issue_date,</if>
            <if test="validateResult != null">validate_result,</if>
            <if test="validationReportJson">validation_report_json,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="fileLevel != null">#{fileLevel},</if>
            <if test="version != null">#{version},</if>
            <if test="isLatest != null">#{isLatest},</if>
            <if test="pdfPath != null">#{pdfPath},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="modelCode != null">#{modelCode},</if>
            <if test="factoryCode != null">#{factoryCode},</if>
            <if test="vehicleMaterialNo != null">#{vehicleMaterialNo},</if>
            <if test="country != null">#{country},</if>
            <if test="uploadResult != null">#{uploadResult},</if>
            <if test="uploadDate != null">#{uploadDate},</if>
            <if test="issueDate != null">#{issueDate},</if>
            <if test="validateResult != null">#{validateResult},</if>
            <if test="validationReportJson != null and validationReportJson != ''">#{validationReportJson},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateXmlFile" parameterType="XmlFile">
        update xml_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileLevel != null">file_level = #{fileLevel},</if>
            <if test="version != null">version = #{version},</if>
            <if test="isLatest != null">is_latest = #{isLatest},</if>
            <if test="pdfPath != null">pdf_path = #{pdfPath},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="modelCode != null">model_code = #{modelCode},</if>
            <if test="factoryCode != null">factory_code = #{factoryCode},</if>
            <if test="vehicleMaterialNo != null">vehicle_material_no = #{vehicleMaterialNo},</if>
            <if test="country != null">country = #{country},</if>
            <if test="uploadResult != null">upload_result = #{uploadResult},</if>
            <if test="uploadDate != null">upload_date = #{uploadDate},</if>
            <if test="issueDate != null">issue_date = #{issueDate},</if>
            <if test="validateResult != null">validate_result = #{validateResult},</if>
            <if test="validationReportJson != null and validationReportJson != ''">validation_report_json = #{validationReportJson},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <update id="deleteXmlFileById" parameterType="Long">
        update xml_file set deleted = 2 where id = #{id}
    </update>

    <update id="deleteXmlFileByIds" parameterType="Long">
        update xml_file set deleted = 2 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectXmlFileVersions" parameterType="String" resultMap="XmlFileResult">
        <include refid="selectXmlFileVo"/>
        where xl.file_name like concat(#{configName}, '%') and xl.deleted = 0
        order by cast(xl.version as UNSIGNED) desc, xl.create_time desc
    </select>

    <update id="restoreXmlByIds" parameterType="String">
        update xml_file set deleted = 0 where id in
        <foreach item="xmlId" collection="array" open="(" separator="," close=")">
            #{xmlId}
        </foreach>
    </update>

    <delete id="permanentlyDeleteXmlByIds" parameterType="Long">
        delete from xml_file where deleted = 2 and id in
        <foreach item="xmlId" collection="array" open="(" separator="," close=")">
            #{xmlId}
        </foreach>
    </delete>

    <delete id="permanentlyDeleteVehicleInfoById" parameterType="Long">
        delete from xml_file where deleted = 2 and id = #{xmlId}
    </delete>

    <delete id="deleteExpiredXml">
        delete from xml_file
        where deleted = 2
          and update_time &lt; date_sub(now(), interval 1 month)
    </delete>

    <select id="selectVersionByFileName" resultType="java.lang.String">
        SELECT version
        FROM xml_file
        WHERE file_name LIKE CONCAT(#{fileName}, '%')
        ORDER BY cast(version as UNSIGNED) desc
        limit 1
    </select>

    <update id="updateIsLatestToFalse">
        UPDATE xml_file SET is_latest = 0 WHERE file_name LIKE CONCAT(#{fileName}, '%')
    </update>

</mapper>